<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <!-- 类名 -->
        <servlet-name>pop</servlet-name>
        <!-- 所在的包 -->
        <servlet-class>pop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pop</servlet-name>
        <!-- 访问的网址 -->
        <url-pattern>/pop</url-pattern>
    </servlet-mapping>
</web-app>