*{
    padding: 0;
    margin: 0;
}
.all-style{
    margin: auto;
    background-color: whitesmoke;
    width: 1243px;
    border: 1px solid white;
    box-shadow: 0 0 10px grey;
}

.header{
    display: block;
    margin: auto;
    height:100px ;
    padding-bottom: 40px;
    padding-left: 15px;
    /*position: absolute;*/

}
.border-bar{
    height: 300px;
    width: 1200px;
    background-color: white;
    margin: auto;
    border:2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}
.border-pie-1{
    float: left;
    width: 600px;
    height: 200px;
    margin-left: 60px;
    margin-top: 80px;

}
.border-bar-2{
    width: 400px;
    height: 220px;
    margin-left: 740px;
    margin-top: 80px;
}
#black{
    height: 500px;
}
input {
    border:2px solid white;
    border-radius: 10px;
    box-shadow:0 0 10px grey;
    background-color: #b8b5b5;
    color:darkblue;
    text-indent: 10px;

}
.border-msg-2{
    margin-top: 10px;
    width: 1245px;
    height: 220px;
}
#input-msg{
    float: right;
    height: 200px;
    width: 300px;
    background-color: white;
    margin-right: 20px;
    border:2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}
#show-msg{
    width: 850px;
    height: 200px;
    background-color: white;
    border:2px solid white;
    border-radius: 20px;
    margin-top:20px;
    margin-left: 20px;
    box-shadow: 0 0 10px grey;
}
#input-name{
    padding: 30px 20px;
}
#input-passwd{
    padding-left: 20px;
}
.buttom_login{
    padding-left: 100px;
    padding-top: 20px;

}

button{
    width: 60px;
    height: 30px;
}
button:active{
    background-color: cadetblue;
    box-shadow: 0 0 10px cadetblue;
    transform: translateY(4px);
}
#black{
    display: block;
    margin-top: 20px;
    width: 1242px;
    height: 30px;
    background-color: white;
    border:2px solid white;
    box-shadow: 0 0 10px grey;
}
a{
    text-decoration: white;
    color: black;
}